.mat-list {
  max-height: 368px;
  max-width: 632px;
  overflow: auto;
}

.movie-container {
  margin-top: 60px;
}

.mat-list {
  border: 1px solid lightgrey;
  border-radius: 0.5em;
}

.mat-list .mat-list-item {
  width: 300px;
}

.mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  width: 100%;
}



