<div fxLayout="column" fxLayoutAlign="space-around center" >
  <div><h3>User's item(s)</h3></div>

  <div *ngIf="!(loading$ | async)">
    <div *ngIf="items.length > 0">
      <mat-list>
        <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let item of items">

          <h3 matLine>name: {{item.name}}</h3>
          <h3 matLine>description: {{item.description}} </h3>
          <mat-icon matListIcon (click)="delete(item.id)">delete</mat-icon>

          <mat-divider></mat-divider>
        </mat-list-item>

      </mat-list>
    </div>

    <div style="margin-left: 18px" *ngIf="items.length == 0">
      <h3>Empty stock</h3>
    </div>

    <div fxLayoutAlign="space-between center">
      <button mat-button color="primary" [routerLink]="['']">Back</button>
      <button mat-button color="primary" (click)="openDialog()">Add</button>
    </div>

  </div>

  <div *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

</div>
