<div fxLayout="column" fxLayoutAlign="space-around center" >
  <div><h3>Users</h3></div>

  <div *ngIf="!(loading$ | async)">
    <mat-list>
      <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let user of users">

        <h3 matLine>id: {{user.id}} name: {{user.name}} </h3>
        <mat-icon matListIcon (click)="delete(user.id)">delete</mat-icon>

        <mat-divider></mat-divider>
      </mat-list-item>

    </mat-list>

    <div fxLayoutAlign="space-between center">
      <button mat-button color="primary" [routerLink]="['']">Back</button>
      <button mat-button color="primary" (click)="openDialog()">Add</button>
    </div>

  </div>

  <div *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

</div>
